# Auto detect text files and perform LF normalization
* text=auto

*.cs            text diff=csharp
*.html          text diff=html
*.htm           text diff=html
*.xaml          text
*.csproj        text
*.sln           text
*.ps1           text
*.cmd           text
*.msbuild       text
*.md            text
*.targets       text
*.xml           text
*.js            text
*.txt           text
*.css           text
*.proj          text
*.vstemplate    text
*.bat           text
*.json          text
*.vsct          text
*.manifest      text
*.aspx          text
*.asax          text
*.tasks         text
*.resx          text